html, body{
    height: 100%;
    width: 100%;
    background-color: #200066;
    color: whitesmoke;

}

#home{
    background-color: #200066;
    display: table;
    height: 100%;
    width: 100%;
    background-size: cover;
}

.landing-text{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.rounded-circle{
    background: url(blackSquir.png);
    height: 400px;
    width:  400px;
}

#a:hover + #special-circle{
    background: url(goat.jpg);
    height: 400px;
    width:  400px;
}