@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald');

body{
    overflow-x: hidden;
}

.navbar{
    font-family: 'Oswald', serif;
}

.landing-background{
    background-image: url(backgrounds-hd-desktop-3196etkp3-1s-1680x1050.jpg);
    
    height: 100vh;
    width: 200%;
}

.about-special{
    height: 100%;
}

.about-me-title{
    font-size: 75px;
    text-align: center;
    color: #fff;
    background-color: black;
    text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}

.rounded-circle{
    height: 50%;
    width: 50%;
    background: black;
    filter: grayscale();
    transition: .30s;
}

.rounded-circle:hover{
    filter: grayscale(0%);
}

.about-description{

    color: blanchedalmond;
}

.portfolio-title{
    font-size: 75px;
    text-align: center;
    color: white;
    background-color: black;
    text-shadow: #fff 0 -1px 4px, rgb(248, 185, 235) 0 -2px 10px, #e73cdf 0 -10px 20px, rgb(197, 0, 181) 0 -18px 40px;

}