@import url('https://fonts.googleapis.com/css?family=Cardo:400,700|Oswald');

body{
    overflow-x: hidden;
}

.navbar{
    font-family: 'Oswald', serif;
}

.landing-background{
    background-image: url(backgrounds-hd-desktop-3196etkp3-1s-1680x1050.jpg);
    height: 100vh;
    width: 100%;
}

.about-me-title{
    font-size: 75px;
    text-align: center;
    background-color: black;
    color: white;
}
.rounded-circle{
    height: 100%;
    width: 100%;
}

.about-description{
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: blanchedalmond;
}